body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fbfc;
}

.titulo {  
    background-color: #1d539e;
    width: 100vw;
    height: 70vh;
    padding-top: 5vh;
    color: #f9fbfc;
    text-shadow: 2px 2px 0px rgba(27, 27, 27, 0.63);
    text-align: center;
    line-height: 2.5;
}

.titulo h1 {
    margin-top: 2vh;
}

.titulo p {
    margin-bottom: 2vh;
}

main {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    margin-top: -180px;
    padding-bottom: 50px
} 

.free,
.basico,
.premium {
    background-color: #f9fbfc;
    box-shadow: 0px 0px 5px rgba(27, 27, 27, 0.63);
    width: 400px;
    height: 530px;
    border-radius: 10px;
}

main .basico {
    margin-top: -20px;
}

.basico {
    width: 400px;
    height: 570px;
}

.free h3 {
    padding: 20px 30px 20px 30px;
}

.premium h3 {
    padding: 20px 30px 20px 30px;
}

.destaque {
    background-color: #ffcc29;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 30px 20px 30px;
    display: flex;
}

.destaque h3 {
    color: #1d539e;
    display: flex;
}

.destaque p {
    color: #f9fbfc;
    background-color: #1d539e;
    margin-left: 15vw;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-size: 12px;
}

.oferta{
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 30px;
}

.valor-principal {
    font-size: 36px;
}

.valor-restante {
    font-size: 20px;
    padding-top: 10px;
    padding-right: 5px;
}

.mes {
    color: #828799;
    font-size: 20px;
    padding-top: 10px;
}

.descricao {
    color: #828799;
    padding: 10px 30px 10px 30px;
}

hr {
    color: #828799;
    height: 2px;
    margin: 10px 30px 10px 30px;
    border-style: groove;
}

.vantagens {
    color: #828799;
    line-height: 1.5;
    padding: 10px 30px 10px 30px;
}

.vant01,
.vant02,
.vant03,
.vant04 {
    padding-bottom: 5px;
}

.free .vant02 {
    padding-bottom: 110px;
}

.basico .vant03 {
    padding-bottom: 100px;
}

.premium .vant04 {
    padding-bottom: 10px;
}

.botao-free,
.botao-basico,
.botao-premium {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.assinar {
    color: #1d539e;
    background-color: #f9fbfc;
    border: 2px solid #1d539e;
    padding: 10px 110px 10px 110px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.assinar-basico {
    color: #f9fbfc;
    background-color: #1d539e;
    border: none;
    padding: 12px 110px 12px 110px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}